body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header-container {
    background-color: rgb(0, 160, 13);
    height: 120px;
    right: 0px;
    left: 0px;
    box-sizing: border-box;
    border-bottom: 5px;
    border-bottom-style: solid ;
    border-color: forestgreen;
    display: flex;
    align-items: center;
    gap: 20px
}

.header-container .title {
    font-size: 70px;
    font-family: 'Consolas';
    color: white;
    margin-left: 20px;
}

.header-container .save-note {
    margin-left: auto;
    background-color: forestgreen;
    color: white;
    height: 30px;;
    border-color: white;
    border-radius: 5px;
    font-family: 'Consolas';
}

.header-container .delete-note {
    color: forestgreen;
    background-color: white;
    height: 30px;
    margin-right: 20px;
    border-color: white;
    border-radius: 5px;
    font-family: 'Consolas';
}

.body-container {
    display:flex;
    height: 500px;
    background-color: blue;
}

.saved-notes-container {
    background-color: rgb(188, 188, 0);
    height: 500px;
    right: 0px;
    width: 300px;
}

.note-page-container {
    box-sizing: border-box;
    border-left: 5px;
    border-left-style: solid ;
    border-color: yellow;
    background-color: orange;
    height: 500px;
    flex-grow: 1;
    display:flex;
    
}

.note-page-container  #current-note{
    display: flex;
    flex-direction: column; 
    flex:1;
}

.note-page-container #current-note #note-title {
    font-size:20px; ;
    height: 50px;
    font-family: sans-serif;
}

.note-page-container #current-note #note-body{
    resize: none;
    flex:1;
    font-size: 16px;
    font-family: sans-serif
}