<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes App</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="header-container">
        <div class="title">Notes</div>
        <a class="new-note-link" href = "/"><button class = "new-note">Create New Note</button></a>
        <button class = "save-note" type="submit" form="current-note">SAVE</button>
        <button class = "delete-note" >DELETE</button>
    </div>

    <div class="body-container">
      <div class="saved-notes-container">
        
      </div>
      <div class="note-page-container">
        <form id="current-note" class ="form-note" action="/api" method="POST">
            <textarea id="note-title" name="note-title" placeholder="Title" maxlength="30"></textarea>
            <textarea id="note-body" name="note-body" placeholder="Note Body"></textarea>
            <p hidden id="note-id" name="note-id"><%=note.id%></p>
        </form>
      </div>
    </div>
    <script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
    <script type="module" src="/js/index.js"></script>
  </body>
</html>
