<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes App</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="header-container">
        <div class="title">Notes</div>
        <button class = "save-note" type="submit" form="current-note">SAVE</button>
        <button class = "delete-note" type="submit" form="current-note">DELETE</button>
    </div>

    <div class="body-container">
      <div class="saved-notes-container"></div>
      <div class="note-page-container">
        <form id="current-note" action="/submit" method="POST">
            <input type="text" id="note-title" name="note-title" placeholder="Title">
            <textarea id="note-body" name="note-body" placeholder="Note Body"></textarea>
        </form>
      </div>
    </div>
  </body>
</html>
