body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header-container {
    background-color: rgb(3, 180, 18);
    height: 120px;
    right: 0px;
    left: 0px;
    box-sizing: border-box;
    border-bottom: 5px;
    border-bottom-style: solid ;
    border-color: forestgreen;
    display: flex;
    align-items: center;
    gap: 15px
}

.header-container .title {
    font-size: 70px;
    font-family: 'Consolas';
    color: white;
    margin-left: 20px;
}

.header-container .new-note-link{
    margin-left:auto
}

.header-container .new-note{
    color: forestgreen;
    background-color: white;
    height: 30px;
    border-color: white;
    border-radius: 5px;
    font-family: 'Consolas'
}

.header-container .save-note {
    background-color: forestgreen;
    color: white;
    height: 30px;;
    border-color: white;
    border-radius: 5px;
    font-family: 'Consolas';
}

.header-container .save-note:hover {
    cursor: pointer;
    background-color: rgb(34, 100, 34);
}

.header-container .delete-note {
    color: forestgreen;
    background-color: white;
    height: 30px;
    margin-right: 20px;
    border-color: white;
    border-radius: 5px;
    font-family: 'Consolas';
}

.header-container .delete-note:hover, .new-note:hover {
    cursor: pointer;
    background-color: rgb(199, 199, 199);
}

.body-container {
    display:flex;
    height: 500px;
    background-color: blue;
}

.saved-notes-container {
    background-color: rgb(188, 188, 0);
    height: 500px;
    right: 0px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.saved-notes-container .note-button-link{
    display:flex;
    flex-direction: column;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.saved-notes-container .note-button {
    background-color: white;
    color: black;
    height: 50px; 
    font-family: 'Consolas';
    font-size: 15px;
}

.saved-notes-container .note-button:hover {
    cursor: pointer;
    background-color: rgb(194, 194, 194) ;
}


.note-page-container {
    box-sizing: border-box;
    border-left: 5px;
    border-left-style: solid ;
    border-color: green;
    background-color: rgb(153, 222, 153);
    height: 500px;
    flex-grow: 1;
    display:flex;
}

.note-page-container  #current-note{
    display: flex;
    flex-direction: column; 
    flex:1;
    gap: 5px;
    margin: 5px;
}

.note-page-container #current-note #note-title {
    font-size:35px;
    height: 45px;
    resize: none;
    font-family: "Cosolas";
    border-color: green;
    border-radius: 10px;
}

.note-page-container #current-note #note-body{
    resize: none;
    flex:1;
    font-size: 22px;
    font-family: "Cosolas";
    border-color: green;
    border-radius: 10px;
}

input, textarea {
    padding: 10px
}

textarea::placeholder {
    font-family: "Cosolas";
}